@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

main {
    margin-bottom: 16px;
}

header {
    background-color: orangered
}

footer {
    position: fixed;
    bottom: 0;
    /* border: 1px solid red; */
    padding: 24px;
    background-color: lightgreen;
    width: 100%;
}

a {
    color: white;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

#foods {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#foods a {
    color: green;
    text-decoration: none;
}
